body{
	background-color: black;
}
.line{
	width: 100px;
	background-color: black;
	height: 10px;
}
.line>.half{
	width: 50px;
	height: 10px;
}
#line{
	background-color: black;
}
button{
	display: block;
    outline: none;
    border: none;
	background-color: white;
}